* {
  box-sizing: border-box;
  font-family: 'Roboto';
}

.home-header-container {
  height: 50px;
  display: flex;
  width: 100%;
}

.home-body-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-container {
  max-width: 45%;
  min-width: 35%;
  padding: 0px 10px 0px 0px;
}

.text-container h1 {
  width: 100%;
  font-size: 45px;
  color: #1e293b;
  font-weight: bold;
}

.text-container p {
  width: 100%;
  font-size: 12px;
  color: #64748b;
  font-weight: 500;
}

.shop-now-button {
  cursor: pointer;
  background-color: #0967d2;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 10px;
  padding: 10px;
}

.home-react-app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

.home-container {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 10px 50px 30px 50px;
}

.clothes-image {
  max-width: 400px;
  min-width: 250px;
  max-height: 400px;
  min-height: 250px;
  padding: 20px;
  background-size: cover;
}

.home-heading {
  font-weight: bold;
  color: #1e293b;
}

.home-nxt-trend-container div {
  padding: 10px;
  font-size: 20px;
}

.home-nxt-trend-container p {
  font-size: 12px;
  color: #64748b;
  font-weight: 500;
}

.home-nxt-trend-container button {
  background-color: #0967d2;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}

.home-nxt-trend-container button:hover {
  background-color: #0b69ff;
}
